html {
    box-sizing: border-box;
    font-size: 50%;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


/****** HEADER ******/

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
}

.menu-links-container, .menu-links-secondary {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.menu-links-secondary {
    /*!display: none;*/
    margin-left: 2rem;
    margin-top: 2.5rem;
}

.menu-item-title {
    display: flex;
    gap: 1.4rem;
    align-items: center;
}

.arrow-button {
    cursor: pointer;
}

.arrow-button.hidden {
    display: none;
}

/****** MAIN CONTENT ******/

.main-content {
    text-align: center;
}

.hero-img {
    width: 100%;
    margin-bottom: 2rem;
}

.main-section h1 {
    font-size: 3.5rem;
    margin-bottom: 3rem;
}

.main-section p {
    line-height: 1.6;
    font-size: 2rem;
    color: #444;
    margin-bottom: 2.7rem;
    text-align: center;
}

.hoverable-button {
    background-color: #000;
    color: #fff;
    border-radius: 15px;
    padding: 1.5rem 2.9rem;
    border: 1px solid #000;
    font-size: 1.9rem;
    font-weight: 600;
    cursor: pointer;
}

.hoverable-button:hover
{
    background-color: #fff;
    color: #000;
}

/** FOOTER **/

.main-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sponsor-footer-img {
    width: 8.5rem;
}

/** SHARED STYLES **/
.main-header, .main-section, .main-footer {
    padding: 2.5rem 2rem;
}
