html {
    box-sizing: border-box;
    font-size: 50%;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    color: #666;
}

/* GENERAL STYLES */

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #000;
}

.main-container {
    position: relative;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}

.icon-button {
    cursor: pointer;
}

.button-radius {
    border-radius: 15px;
}

/****** HEADER ******/

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
}

.close-menu-img, .main-header {
    height: 8rem;
}

.navigation-menu {
    display: none;
    justify-content: end;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.navigation-menu--show
{
    display: flex;
}

.right-menu-nav {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 30rem;
    transition: transform 0.5s;
    transform: translateX(100%);
}

.right-menu-nav--opened {
    transform: translateX(0%);
}

.close-menu-img {
    display: flex;
    cursor: pointer;
    justify-content: end;
    align-items: center;
}

.secondary-menu-container {
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s;
}

.secondary-menu-container--show .secondary-menu-container{
    display: block;
}

.menu-links, .menu-links-secondary {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.menu-item {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.menu-links-secondary {
    margin-left: 2rem;
    padding-top: 2rem;
}

.menu-item-title {
    display: flex;
    gap: 1.4rem;
    align-items: center;
    cursor: pointer;
}

.menu-item-title[data-opensecundary]::after {
    content: url('../images/icon-arrow-down.svg');
    width: 10px;
}

.secondary-menu-container--show .menu-item-title[data-opensecundary]::after {
    content: url('../images/icon-arrow-up.svg');
}

.sign-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.register-button {
    align-self: stretch;
    border: 1px solid #444;
    text-align: center;
    padding: 1.2rem 0;
}

/****** MAIN CONTENT ******/

.main-content {
    text-align: center;
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding-bottom: 4rem;
}

.hero-img {
    margin-bottom: 5rem;
}

.hero-img img {
    width: 100%;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 9rem;
}

.main-section h1 {
    font-size: 3.5rem;
    color: #000;
}

.main-section p {
    line-height: 1.6;
    font-size: 2rem;
}

.hoverable-button {
    background-color: #000;
    color: #fff;
    padding: 1.5rem 2.9rem;
    border: 1px solid #000;
    font-size: 1.9rem;
    font-weight: 600;
    cursor: pointer;
}

.hoverable-button:hover
{
    background-color: #fff;
    color: #000;
}

/** FOOTER **/

.main-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sponsor-footer-img {
    width: 6.5rem;
}

.sponsor-footer-img--databiz {
    width: 8.5rem;
}

/* SHARED STYLES*/
.main-header, .right-menu-nav, .main-footer, .main-section {
    padding-left: 2rem;
    padding-right: 2rem;
}

@media screen and (min-width: 700px) {

    .main-container {
        margin: 0 auto;
        min-height: auto;
        display: block;
    }

    /**** HEADER ****/
    .main-header {
        gap: 6rem;
        margin-bottom: 8rem;
    }

    .open-menu-img, .close-menu-img {
        display: none;
    }

    .navigation-menu {
        display: flex;
        align-items: center;
        justify-content: normal;
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
        flex-grow: 1;
    }

    .right-menu-nav {
        transition: none;
        transform: none;
        background-color: transparent;
        flex-direction: row;
        align-items: center;
        flex-grow: 1;
        justify-content: space-between;
        gap: 0;
        width: auto;
        padding: 0;
    }

    .menu-links {
        flex-direction: row;
        align-self: auto;
        gap: 4rem;
    }

    .menu-item {
        position: relative;
        flex-direction: row;
    }

    .menu-item-title {
        gap: 0.7rem;
    }

    .secondary-menu-container {
        position: absolute;
        top: 200%;
        right: 0px;
        box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        white-space: nowrap;
    }

    .menu-links-secondary {
        margin-left: 0;
        background-color: #fff;
        padding: 2rem;
    }

    .sign-container {
        flex-direction: row;
        gap: 2.5rem;
    }

    .register-button {

        align-self: auto;
        text-align: unset;
        padding: 1rem 2rem;
    }

    /* MAIN CONTENT */
    .main-content {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 2fr 1fr;
        margin: 0 auto;
        align-items: end;
        text-align: start;
        column-gap: 5rem;
        padding: 0 2rem;
    }

    .hero-img {
        grid-column: 2/3;
        grid-row: 1/-1;
        align-self: center;
    }

    .hero-img picture {
        display: flex;
        justify-content: end;
    }

    .main-section {
        grid-column: 1/2;
        grid-row: 1/4;
        margin-bottom: 0;
        align-items: start;
        gap: 5rem;
    }

    .main-section h1 {
        font-size: 6.5rem;
        line-height: 1;
    }

    .main-section h1 span {
        display: block;
    }

    .hero-img, .main-content {
        margin-bottom: 0;
    }

    /* FOOTER */
    .main-footer {
        grid-column: 1/2;
        grid-row: 4/5;
        padding-bottom: 0;
    }

    .sponsor-footer-img {
        width: 8.5rem;
    }

    /* SHARED STYLES */
    .main-section, .main-footer {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (min-width: 900px) {

    /**** HEADER ****/
    .main-header {
        margin-bottom: 12rem;
    }

    /* MAIN CONTENT */
    .main-content {
        width: 75%;
    }
}

@media screen and (min-width: 1200px) {

    html {
        font-size: 62.5%;
    }

    .main-container {
        max-width: 140rem;
    }

    /**** HEADER ****/
    .main-header {
        margin-bottom: 3rem;
    }

    /* MAIN CONTENT */
    .main-content {
        grid-template-columns: 1fr 1fr;
        column-gap: 8rem;
        width: 85%;
        padding: 0;
    }

    .hero-img img {
        width: 95%;
    }

    .main-section p {
        width: 90%;
        font-size: 1.8rem;
    }

}

@media screen and (min-width: 1400px) {
    .main-section h1 {
        font-size: 7.5rem;
    }
}